<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login | Pre-ICFES</title>

    <link rel="stylesheet" href="/static/css/login/login.css">
</head>
<body>
    

<div class="login-wrapper">

    <!-- PANEL IZQUIERDO -->
    <div class="login-info">
        <div class="brand">
            <div class="logo">✳</div>
            <h1><br>Pre-ICFES</h1>
        </div>

        <ul class="features">
            <li>
                <span class="icon">👥</span>
                <div>
                    <strong> text</strong>
                    <p>Administra usuarios de forma eficiente</p>
                </div>
            </li>

            <li>
                <span class="icon">📚</span>
                <div>
                    <strong>Diversidad de cursos</strong>
                    <p>Variedad de contenido educativo</p>
                </div>
            </li>

            <li>
                <span class="icon">📊</span>
                <div>
                    <strong>Reportes avanzados</strong>
                    <p>Análisis detallado de datos</p>
                </div>
            </li>
        </ul>
    </div>

    <!-- PANEL DERECHO -->
    <div class="login-form">

        <h2>¡Bienvenido de nuevo!</h2>
        <p class="subtitle">Ingresa tus credenciales para continuar</p>

        {% if error %}
            <div class="login-error">
                {{ error }}
            </div>
        {% endif %}

        <form action="/login" method="POST">
            <label>Correo electrónico</label>
            <input type="email" name="correo" required>

            <label>Contraseña</label>
            <input type="password" name="password" required>

            <div class="remember">
                <label class="remember-check">
                    <input type="checkbox" name="remember">
                    <span>Recordarme</span>
                </label>
            </div>


            <button type="submit">Iniciar sesión →</button>
        </form>
             

        <p class="signup">
            ¿No tienes cuenta? <a href="#">Regístrate aquí</a>
        </p>
        <div class="mt-6 text-center">
        <a href="/"
        class="text-sm font-medium text-gray-600 hover:text-primary">
            Volver al inicio
        </a>
</div>

    </div>

</div>

</body>
</html>
